body {
    color: rgb(231, 181, 181);
    background: rgb(87, 2, 2);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(15, 108, 230);
    padding: 20px;
    font-size: 32px;
    color: rgb(158, 193, 238);
}

.chamada {
    background: rgb(223, 200, 247);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;180960
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(164, 233, 164);
}

.categoria h2 {
    color: rgb(146, 177, 218);
}